* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.logo {
  position: absolute; 
  top: 20px; 
  left: 20px; 
}

.logo img {
  width: 100px; 
  height: auto; 
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f4f4f9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.8em;
  color: #1f78d1;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.4em;
  margin: 15px 0;
}

.checkbox-item {
  margin: 10px 0;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  color: #fff;
  background-color: #1f78d1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #165a9f;
}

.comparison-section {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #1f78d1;
  color: #fff;
}
